<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Chat Web</title>
</head>
<body>
    <section class="section-container">
        <div class="contact-menu">
            <div class="search-bar">
                <input type="text" placeholder="Buscar contactos...">
            </div>
            <div class="contact-list">
                <div class="contact">
                    <img src="img/lali.jpg" alt="Avatar">
                </div>
                <div class="contact-info">
                    <h3>Lali</h3>
                    <p>Holaaaa...</p>
                </div>
            </div>
        </div>
        <div class="chat-container">
            
            <div class="chat-messages">
                <div class="message received">
                    <p>Hola, ¿cómo estás?</p>
                </div>
                <div class="message sent">
                    <p>¡Hola! Estoy bien, gracias.</p>
                </div>
            </div>
            <div class="input-container">
                <input type="text" id="message-input" placeholder="Escribe un mensaje...">
                <button id="send-button">Enviar</button>
            </div>
        </div>
    </section>
</body>
</html>
