<form action="/enviarRegistro" method="POST" class="container-sm" id="RegistroForm" >
    <!--Me registre -->
    <div class="mb-3 form-group">
        <h2 style="text-align: center;">REGISTRARSE</h2>
    </div>
    <div class="mb-3 form-group">
        <label for="dni" class="form-label">DNI</label>
        <input type="number" class="form-control" id="dniId" name="dni" value="" placeholder="Ingrese su DNI" style="width: 300px; height:50px;">
    </div>
    <div class="mb-3 form-group">
        <label for="nombreid" class="form-label">NOMBRE COMPLETO</label>
        <input type="text" class="form-control" id="nombreId" name="nombre" value="" placeholder="Ingrese su nombre" style="width: 300px; height:50px;">
    </div>
    <div class="mb-3 form-group">
        <label for="usuarioId" class="form-label">USUARIO</label>
        <input type="text" class="form-control" id="usuarioId" name="usuario" value="" placeholder="Ingrese un nombre de usuario" style="width: 300px; height:50px;">
    </div>
    <div class="mb-3 form-group">
        <label for="contraseñaId" class="form-label">CONTRASEÑA</label>
        <input type="password" class="form-control" id="contraseñaId" name="contraseña" value="" placeholder="Contraseña" style="width: 300px; height:50px;">
    </div>
    <div class="mb-3 form-check" style="margin-left: 4.5%;">
        <input type="submit" class="botonesEnGeneral" value="REGISTRARSE" style="align-items: center; background-color: chocolate; border-color:black;">
    </div>
</form>